<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dashboard</title>
</head>
<body>
    <h4>welcome to the dashboard <%= user.name%></h4>

    profile information :- <br>
    name : <%= user.name %> <hr>
    age : <%= user.age %> <hr>
    email : <%= user.email %> <hr>
    password : <%= user.password %> <br>
      <a href="/update/<%= user._id %>">edit your profile</a> 
      <a href="/delete/<%= user._id %>" onclick="popup()"> delete your profile </a>
      <a href="/changepassword/<%= user._id %>"> change your password</a>
    <a href="/logout">logout <%= user.name%></a>

    
    <script>
      function popup() {
         
        alert("I am an alert box!");
      }

      </script>
    
</body>
</html>